#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
    color: white;
}

#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    background-color: rgb(247, 95, 95);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: white;
    color: black;
}

.box{
    justify-content: center;
    text-align: center;
    margin-left: 525px;
    height: 250px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 40px yellow;
    background: linear-gradient(rgb(88, 85, 85),rgb(0, 0, 0));
}